// Create ///////////////////////////////////

// Colors
$color-picker-swatch-color-width: 22px;
$color-picker-swatch-color-height: 22px;
$color-picker-swatch-color-margin: 2px;
$color-picker-swatch-margin-bottom: 0px;
$color-picker-input-margin: 0;
$color-picker-input-font-size: 1.5rem;
$color-picker-controls-padding: 12px 6px 12px 6px;
$color-picker-hue-margin-bottom: 10px;
$subheader-item-single-height: 40px;

//  Options Bar
$btn-toggle-btn-height: 32px;
$btn-toggle-btn-width: 32px;

// Gallery ////////////////////////////////////

// Cards
$slide-group-prev-basis: 24px;
$skeleton-loader-image-height: 100%;

// reply
$expansion-panel-content-padding: 0px;