.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer-cursor:hover {
  cursor: pointer;
}


.gray-filter {
  filter: brightness(0) opacity(0.5);
}


.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}